@using Data

<h3>Dados do Proprietario</h3>

<EditForm Model="data" OnValidSubmit="SaveForm">
    <FluentValidationValidator />

    <div>
        <label for="nome" class="desc">Nome</label>
        <div><InputText id="nome" @bind-Value="data.Nome" class="text"></InputText></div>
        <div><ValidationMessage For="() => data.Nome"></ValidationMessage></div>
    </div>


    <RadioSimNao Legend="O imóvel está em seu nome?" GroupName="imovel_em_seu_nome" Id="imovel_em_seu_nome" @bind-Value="data.ImovelEmSeuNome"></RadioSimNao>


    @if (!data.ImovelEmSeuNome)
    {
        <div>
            <label for="nomeProprietario" class="desc">Nome Completo do Propriet&aacute;rio</label>
            <div><InputText id="nomeProprietario" @bind-Value="data.NomeProprietario" class="text"></InputText></div>
            <div><ValidationMessage For="() => data.NomeProprietario"></ValidationMessage></div>
        </div>

        <RadioSimNao Legend="Você possui autorização para venda?" GroupName="autorizacao_venda"
                 Id="autorizacao_venda" @bind-Value="data.AutorizacaoVenda"></RadioSimNao>
    }

    <div>
        <label for="telefone" class="desc">Telefone</label>
        <div><InputText id="telefone" @bind-Value="data.Telefone" class="text"></InputText></div>
        <div><ValidationMessage For="() => data.Telefone"></ValidationMessage></div>
    </div>

    <div>
        <label for="celular" class="desc">Celular</label>
        <div><InputText id="celular" @bind-Value="data.Celular" class="text"></InputText></div>
        <div><ValidationMessage For="() => data.Celular"></ValidationMessage></div>
    </div>

    <div>
        <fieldset>
            <legend class="desc">
                &Eacute; Whatsapp?
            </legend>
            <div>
                <div>
                    <InputCheckbox id="isWhatsApp" @bind-Value="data.IsWhatsApp"></InputCheckbox>
                    <label for="isWhatsApp" class="desc">Sim</label>
                </div>
            </div>
        </fieldset>
    </div>

    <div>
        <fieldset>
            <legend class="desc">
                Tipo de Telefone
            </legend>
            <div>
                <InputRadioGroup Name="TipoTelefone" @bind-Value="data.TipoTelefone">
                    <div>
                        <InputRadio id="tipo_telefone_pessoal" Value="@TipoTelefoneEnum.PESSOAL" Name="TipoTelefone"></InputRadio>
                        <label for="tipo_telefone_pessoal" class="choice">Pessoal</label>
                    </div>

                    <div>
                        <InputRadio id="tipo_telefone_trabalho" Value="@TipoTelefoneEnum.TRABALHO" Name="TipoTelefone"></InputRadio>
                        <label for="tipo_telefone_trabalho" class="choice">Trabalho</label>
                    </div>
                </InputRadioGroup>

            </div>
        </fieldset>
    </div>

    <div>
        <label for="email" class="desc">Email</label>
        <div><InputText id="email" @bind-Value="data.Email" class="text"></InputText></div>
        <div><ValidationMessage For="() => data.Email"></ValidationMessage></div>
    </div>

    <div>
        <label for="cpf" class="desc">CPF</label>
        <div><InputText id="cpf" @bind-Value="data.CPF" class="text"></InputText></div>
        <div><ValidationMessage For="() => data.CPF"></ValidationMessage></div>
    </div>

    <div class="proximo">
        <div>
            <button type="submit">Pr&oacute;ximo</button>
        </div>
    </div>

</EditForm>

@code {
    [Parameter]
    public EventCallback<int> OnVoltarClicked { get; set; }

    [Parameter]
    public DadosProprietario data { get; set; }

    //DadosProprietario data = new();

    public async Task SaveForm()
    {
        await OnVoltarClicked.InvokeAsync(1);
    }
}
