@page "/"
@using Data;
@using System.Text.Json

<header>
    <h2>Título do Form</h2>
    <div>Uma breve descriçãod o formulário a ser preenchido</div>
</header>

<div>Passo @step de 3:</div>



@if (step == 1)
{
    <DadosProprietarioForm OnVoltarClicked="MoveStep" data="dadosProprietario"></DadosProprietarioForm>
}
else if (step == 2)
{

    <DadosPrimarioImovelForm OnVoltarClicked="MoveStep" data="dadosPrimarios"></DadosPrimarioImovelForm>
}
else if (step == 3)
{

    <DadosEstruturaisImovelForm OnVoltarClicked="MoveStep" data="dadosEstruturais" comissao="dadosPrimarios.Comissao"></DadosEstruturaisImovelForm>
}else if (step == 4)
{

    <DadosEmailForm OnVoltarClicked="MoveStep" content="@GetContent()"></DadosEmailForm>
}

@code {
    int step = 1;

    DadosProprietario dadosProprietario = new();
    DadosPrimarioImovel dadosPrimarios = new();
    DadosEstruturaisImovel dadosEstruturais = new();

    public void MoveStep(int v)
    {
        step += v;
    }

    public string GetContent()
    {
        var data = new { dadosProprietario, dadosPrimarios, dadosEstruturais };

        return JsonSerializer.Serialize(data);
    }
}
